@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    margin: 0;
}

.containerx {
    width: 570px;
    margin: 0 auto;
    border: solid;
    border-radius: 5px;
    box-shadow: 10px 10px #888888;
    background-image: url("img/pexels-roberto-nickson-2559941.jpg");
    background-size: cover;
    background-position: center;    
    padding: 0 20px;
    color: white;
}

h1,
h2 {
    font-weight: 300;
}

h1 {
    font-size: 60px;
    margin: 0;
    padding: 10px;
}

h2 {
    font-size: 42px;
    margin: 0;
    padding: 10px;
}

h3 {
    font-size: 36px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 10px;
}

nav ul li a {
  font-weight: bold;
  color: whitesmoke;  
}

nav ul li a:hover{
    color: #99D930;
    transition: .3s;
}

nav button {
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    margin-right: 100px;
    border-radius: 30px;
    color: #D7D7D7;
    font-size: medium;
}

nav {
    background-color: #000;
    height: 30px;
}

.logo {
    color: white;
    font-size: 28px;
}

.logoRed {
    color: #ea1538;
}

.small-text {
    font-size: 16px;
}

.name {
    font-size: 40px;
    font-weight: bold;
    display: block;
    color: whitesmoke;
    text-decoration: none !important;
}

.art{
    display: block;
    font-weight: bold;
}

a:hover,
a:active {
    color: #131313;
}

a {
    color: #FFDEAD;
    font-weight: bold;
}

.kwanza {
    background-color: #D7D7D7;
}

.second {
    background-color: #FFEAEA;
    padding: 100px 0;
    display: flex;

}

.btn {
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
    font-weight: bold;
    border-radius: 10px;
}

.btn:hover {
    background-color: #252525;
    color: white;
}
.row {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.col-1 {
    border: solid;
    padding: 20px;
}
